body{
	margin: 0;
	padding: 0;
}

.background-image {
  background-image: url(../pictures/1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
	background-color: #464646;
}

.background-image-price {
  background-image: url(../pictures/price.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
	background-color: #464646;
}

.navbar {
	display: flex;
	justify-content: center;
	list-style: none;
	padding-top: 10px;
	background-color: black;
	align-items: baseline;
}

.navbar > li {
	cursor: pointer;
	color: white;
	padding: 20px;
}

.navbar > li:hover {
	background-color: rgba(255, 255, 255, 0.192);
}

.background-text{
	padding-left: 8vw;
	width: 50vw;
}

.btn-warning {
	color: #000;
  background-color: #ffe000;
	font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  outline: 0;
  /* font-size: 14px; */
  font-style: normal;
  font-family: Oswald,sans-serif;
  line-height: 1.5em;
  letter-spacing: .025em;
  text-transform: uppercase;
  padding: 12px 30px;
}

.salesPic {
	max-width: 100%;
}

.container-fluid {
	padding-left: 5vw;
	padding-right: 5vw;
}

.image-scale-div {
	overflow: hidden;
}

.image-scale {
	max-width: 100%;
}

.image-scale:hover {
	transform: scale(1.2);
	transition: 1s ease-out;
	cursor: pointer;
}

.priceItalic {
    font-size: 17px;
    line-height: 26px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    color: rgba(255,255,255,0.8);
}